body{
    background-image: url("../bilder/galaxy.png");
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 20px;
    max-width: 1250px;
    margin: auto;
    font-family: 'Times New Roman';
    color: whitesmoke;
    margin-top: 15px;
}

.main_header {
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    background-image: url("../bilder/header2.png");
    background-repeat: no-repeat;
    min-height: 194px;
    padding-top: 70px;
}

.main_nav {
    grid-column: 1/4;
    grid-row: 2;
}

.nav_liste {
    list-style-type: none;
    font-variant: small-caps;
    background-color: rebeccapurple;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_liste li {
    float: left;
}

.nav_liste li a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_liste li a:hover {
    background-color: grey;
    text-decoration: underline;
    color: black;
}

.main_home {
    grid-row: 3;
    grid-column: 1/3;
}

.main_home section {
    display: flex;
    flex-wrap: nowrap;
}

.main_home section article {
    padding: 10px;
    width: 33%;
    text-align: left;
    margin-top: 30px;
    min-height: 150px;
}

.aside {
    grid-column: 3/4;
    grid-row: 3;
}

.footer {
    position: sticky;
    padding-bottom: 1px;
    padding-top: 1px;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: lightgrey;
    color: black;
}

#video {
    color: lightskyblue;
    font-variant: small-caps;
    text-decoration: none;
}

#video:hover {
    text-decoration: underline;
    color: #3535bd;
}

#ul_linker {
    list-style-type: none;
    font-variant: small-caps;
    padding: 0;
}

#ul_linker li a {
    text-decoration: none;
    color: lightskyblue;
}

#ul_linker li a:hover {
    text-decoration: underline;
    color: #3535bd;
}

#head_tittle {
    font-size: 40px;
}

.main_articles {
    grid-row: 3;
    grid-column: 1/3;
}

.css_articles {
    display: flex;
    flex-direction: column;
}

#commit {
    float: right;
    text-align: center;
}

#commit img {
    width: 500px;
}

#mediatypes {
    float: right;
    text-align: center;
}

#mediatypes img {
    width: 400px;
}

.figure_css {
    float: right;
    text-align: center;
}

.css_bilder {
    width: 300px;
}

.lesMer {
    padding: 3px;
    text-decoration: none;
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    background-color: pink;
    font-variant: small-caps;
}

.lesMer:hover {
    background-color: lightgrey;
    text-decoration: underline;
}

.lesMer:active {
    text-decoration: underline;
    border-style: inset;
}

#print {
    padding: 3px;
    text-decoration: none;
    border-style: outset;
    border-width: 3px;
    border-color: gray;
    background-color: aquamarine;
    font-variant: small-caps;
}

#print:hover {
    background-color: lightslategrey;
    text-decoration: underline;
}

#print:active {
    text-decoration: underline;
    border-style: inset;
}

@media print {

    body{
        visibility: hidden;
    }

    header, nav, footer {
        display: none;
    }
    
    .print {
        visibility: visible;
    }

    @page {
        margin: 1cm, 2cm;
    }
}